<meta charset="UTF-8">
<title>Node.js &amp; MongoDB Atlas with Mongoose! : <%= title %></title>

<link href="/stylesheets/bootstrap.css" rel="stylesheet" />
<link href="/stylesheets/font-awesome.min.css" rel="stylesheet" />
<link rel='stylesheet' href='/stylesheets/style.css' />
<script src="/javascripts/jquery-2.0.3.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
